//HEART//

@keyframes heart-transp {
  0% {
    opacity: 1;
  }


  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes heart-color {
  0% {
    -webkit-clip-path: circle(0%);
    clip-path: circle(0%);
  }

  100% {
    visibility: visible;
    -webkit-clip-path: circle(100%);
    clip-path: circle(100%);
  }
}

@keyframes heart-color {
  0% {
    -webkit-clip-path: circle(0%);
    clip-path: circle(0%);
  }

  100% {
    visibility: visible;
    -webkit-clip-path: circle(100%);
    clip-path: circle(100%);
  }
}

.hearts {

  &__color {
    position: absolute;
    font-size: 40px;
    -webkit-background-clip: text;
    color: transparent;
    background-image: -webkit-gradient(linear, left top, left bottom, from($color-primary), to($color-secondary));
    background-image: -o-linear-gradient($color-primary, $color-secondary);
    background-image: linear-gradient($color-primary, $color-secondary);
    -webkit-clip-path: circle(0%);
    clip-path: circle(0%);
  }

  &__transp {
    position: absolute;
    font-size: 40px;
    color: rgba(24, 23, 23, 0.678);
  }

  /*Hearts, Hover animation*/

  &:hover &__color {
    -webkit-animation: heart-color 600ms ease-in-out forwards;
    animation: heart-color 600ms ease-in-out forwards;

  }

  &:hover &__transp {
    -webkit-animation: heart-transp 600ms ease-in-out forwards;
    animation: heart-transp 600ms ease-in-out forwards;

  }
}

.heart-menu {
  right: 30px;
  top: 10px;
}

/*HEART*/

/*CARD MENU*/

$anim-delay: 0.1s; /*Délais de l'animation*/
$menu-categories: 3; /*Catégories (Entrée, Plat, Dessert)*/
$menu-items: 4; /*Nombre d'éléments par catégories*/
$column-anim-duration: ($anim-delay * $menu-items); /*Temps d'animation par colone*/

.submenu {
  @for $i from 1 through $menu-categories { /*Pour chaque catégories*/
    &:nth-child(#{$i}) {
      .menu-card {
        @for $j from 1 through $menu-items { /*Pour */
          &:nth-child(#{$j}) {
            $column-offset: $i - 1; /*Child -1*/
            $anim-offset: $column-offset * $column-anim-duration; /*Child -1 multiplier par animation par colone.*/
            -webkit-animation-delay: $anim-offset + ($j * ($anim-delay));
            animation-delay: $anim-offset + ($j * ($anim-delay)); /*Delais final est offset + J*/
          }
        }
      }
    }
  }
}


@-webkit-keyframes menu-appear {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
}


@keyframes menu-appear {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
}

.menu-card {
  -webkit-animation: menu-appear 0.9s ease-in-out both;
  animation: menu-appear 0.9s ease-in-out both;

}


/*LOADER*/

.loadingbg {
  /*Background-Loader*/

  background-color: white;
  -webkit-animation: bg ease-in-out 3s forwards;
  animation: bg ease-in-out 3s forwards;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
}

.loader {
  /*Loader*/

  width: 100px;
  height: 100px;
  margin: auto;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-animation: spin 3s ease-in-out forwards;
  animation: spin 3s ease-in-out forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  visibility: hidden;
  border: 10px solid #f3f3f3;
  border-left-color: $color-primary;
  border-right-color: $color-secondary;
  border-radius: 200px;
}

/*Animation*/

@-webkit-keyframes bg {
  0% {
    visibility: visible;
  }

  100% {

    visibility: hidden;
  }
}

@keyframes bg {
  0% {
    visibility: visible;
  }

  100% {

    visibility: hidden;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
    visibility: visible;
  }

  25% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  50% {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
  }

  75% {
    -webkit-transform: rotate(1040deg);
    transform: rotate(1040deg);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
    visibility: visible;
  }

  25% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  50% {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
  }

  75% {
    -webkit-transform: rotate(1040deg);
    transform: rotate(1040deg);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 0;
    visibility: hidden;
  }
}

/*********** CHECK *********/
/* Animations*/
@-webkit-keyframes shift {

  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  100% {
    -webkit-transform: translateX(-55px);
    transform: translateX(-55px);
  }

}
@keyframes shift {

  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  100% {
    -webkit-transform: translateX(-55px);
    transform: translateX(-55px);
  }

}


@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0turn);
    transform: rotate(0turn);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}


@keyframes loading {
  from {
    -webkit-transform: rotate(0turn);
    transform: rotate(0turn);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}


.menu-check {
  width: 0;
  max-width: 58px;
  height: 100%;
  position: absolute;
  visibility: hidden;
  top: 0;
  right: 0;
  background: $color-tertiary;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0 10px 10px 0;
  opacity: 0;


}


.menu-card {


  &:hover {

    .menu-price {

      -webkit-animation: shift 0.3s ease-in-out forwards;

      animation: shift 0.3s ease-in-out forwards;

    }

    .menu-check {
      width: 20%;
      visibility: visible;
      opacity: 1;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;

      & i {
        opacity: 1;
        -webkit-animation: loading 0.3s ease-in-out;
        animation: loading 0.3s ease-in-out;
      }

    }

  }
}

.fa-check-circle {

  font-size: 25px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

}

/*********** ELLIPSIS **************/

.menu-card {

  &:hover {

    h4 {
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 150px;

    }

    p {

      -o-text-overflow: ellipsis;

      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 150px;
    }
  }
}

@media only screen and (max-width: 850px) {

  .menu-card {

    &:hover {

      h4, p {
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: visible;
        white-space: nowrap;



      }

    }

  }
}

@media only screen and (min-width:950px) {

  .menu-card {

    &:hover {

      h4, p {
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: visible;
        white-space: nowrap;


      }

    }

  }
}








