/* HEART */

@keyframes heart-transp {
  0% {
    opacity: 1;
  }


  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes heart-color {
  0% {
    clip-path: circle(0%);
  }

  100% {
    visibility: visible;
    clip-path: circle(100%);
  }
}

.hearts {

  &__color {
    position: absolute;
    font-size: 40px;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient($color-primary, $color-secondary);
    clip-path: circle(0%);
  }

  &__transp {
    position: absolute;
    font-size: 40px;
    color: rgba(24, 23, 23, 0.678);
  }

  /*Hearts, Hover animation*/

  &:hover &__color {
    animation: heart-color 600ms ease-in-out;
    animation-fill-mode: forwards;
  }

  &:hover &__transp {
    animation: heart-transp 600ms ease-in-out;
    animation-fill-mode: forwards;
  }
}

.heart-menu {
  right: 30px;
  top: 10px;
}

/************************************* HEART ***********************************/

/************************** Delai appearance MENU ***************************************/

$anim-delay: 0.1s; /*Délais de l'animation*/
$menu-categories: 3; /*Catégories (Entrée, Plat, Dessert)*/
$menu-items: 4; /*Nombre d'éléments par catégories*/
$column-anim-duration: ($anim-delay * $menu-items); /*Temps d'animation par colone*/

.submenu {
  @for $i from 1 through $menu-categories { /*Pour chaque catégories*/
    &:nth-child(#{$i}) {
      .menu-card {
        @for $j from 1 through $menu-items { /*Pour */
          &:nth-child(#{$j}) {
            $column-offset: $i - 1; /*Child -1*/
            $anim-offset: $column-offset * $column-anim-duration; /*Child -1 multiplier par animation par colone.*/
            animation-delay: $anim-offset + ($j * ($anim-delay)); /*Delais final est offset + J*/
          }
        }
      }
    }
  }
}


@keyframes menu-appear {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(15px);
  }
}

.menu-card {
  animation: menu-appear 0.9s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;

}



/**************************************************/

.loadingbg {
  /*Background-Loader*/

  background-color: white;
  animation: bg ease-in-out 3s;
  animation-fill-mode: forwards;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
}

.loader {
  /*Loader*/

  width: 100px;
  height: 100px;
  margin: auto;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 10px solid #f3f3f3;
  border-left-color: $color-primary;
  border-right-color: $color-secondary;
  border-radius: 200px;
  animation: spin 3s ease-in-out;
  animation-fill-mode: forwards;
  visibility: hidden;
}

/*Animation*/

@keyframes bg {
  0% {
    visibility: visible;
  }

  100% {
    appearance: none;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
    visibility: visible;
  }

  25% {
    transform: rotate(360deg);
  }

  50% {
    transform: rotate(720deg);
  }

  75% {
    transform: rotate(1040deg);
    opacity: 0.5;
  }

  100% {
    transform: rotate(0deg);
    opacity: 0;
  }
}


/********************************************/



