//=====================  HEADER ==================================//
.reservation-btn, span:before, .card {
  color: white;
  background: white;
}


.position {
  text-align: center;
  font-weight: 500;
  background: #efeeee;
  padding: 20px 0;
  opacity: 0.8;
  box-shadow: 1px -2px rgba(199, 198, 198, 0.63);

}

.position-text {
  margin-left: 8px;
}

.reservation {
  text-align: center;
  background: $background-grey;
  padding-bottom: 40px;

}

.reservation-title {
  font-weight: 700;
  font-size: 25px;
  margin: auto;
  padding-top: 30px;
}

.reservation-subtitle {
  opacity: 0.8;
}

.reservation-btn {
  @include btn;
}

.steps {
  margin: 40px auto;
  padding-bottom: 5px;

  span:before {
    content: attr(data-count);
    background: $color-primary;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -10px;
    top: 17px;
  }

}

.steps-title {
  margin: 20px 5%;

  font-weight: 700;
}

.steps-steps {

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0;
  list-style-type: none;

  .step {
    padding: 20px 40px;
    border-radius: 20px;
    background: $background-grey;
    width: 90%;
    margin: 20px auto auto auto;
    text-align: center;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    cursor: pointer;


  }

  .fas {
    margin-right: 15px;
    opacity: 0.6;
  }

}

//=====================  HEADER ==================================//
// ====================  MAIN   ==================================//
.restaurants {
  background: $background-grey;
}

.restaurants-title {
  margin: 0 5%;
  padding: 40px 0 20px 0;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;


  .card {
    display: block;
    position: relative;
    margin: 20px 0;

    border-radius: 20px;
    width: 100%;
    padding-bottom: 20px;


    .card-img {
      height: 190px;
      width: 100%;
      border-radius: 20px 20px 0 0;
      object-fit: cover;
    }
  }
}

.card-new {
  position: absolute;
  right: 20px;
  top: 10px;
  display: block;
  background: $color-tertiary;
  padding: 6px 5px;
  font-size: 13px;
  border-radius: 3px;
  color: green;
  font-weight: 500;
}

.card-title {
  margin-bottom: 5px;
}

.card-content {
  padding: 0 15px;
}

.heart-home {
  position: absolute;
  right: 40px;
  bottom: 80px;
  color: rgba(222, 186, 232, 0.72);

}

.fa-heart:before {
  font-size: 25px;
}

// ====================  MAIN   ==================================//

@media only screen and (min-width: 800px) {
  .container, .menu {
    max-width: 1280px;
    margin: auto;
  }


  .steps-title {

    margin: 0 3%;
  }
  .steps-steps, {
    display: grid;
    grid-template-columns: repeat(3, 1fr);


    .step {
      padding: 20px;
      justify-content: center;

      .text {
        font-size: 15px;
      }
    }
  }

  .steps {
    max-width: 1280px;
  }

  .restaurants-title {
    margin: 0 3%;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    width: 95%;
  }
}

@media only screen and (min-width: 1200px) {

  .steps-steps .step .text {
    font-size: 20px;
  }
}

